// This code is used for Contact, Singin & Sinup pages.

//======================== For all ========================//
.form_cnt {
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;

    .sideImg {
        width: 50%;
        height: 100vh;
        object-fit: cover;
        filter: brightness(90%);
    }

    .container {
        width: 50%;

        /*========= Form =========*/
        form {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            input,
            textarea {
                width: 100%;
                outline: none;
                border: none;
                background: rgb(240, 240, 240);
                font-size: 1rem;
                border-radius: 50px;
                font-family: ARegular;
                padding: .9rem 1.8rem;
            }

            textarea {
                resize: vertical;
                height: 200px;
                border-radius: 20px;
            }

            ::placeholder {
                color: rgb(158, 158, 158);
            }

            input[type="submit"] {
                background: $black;
                color: $white;
                cursor: pointer;
                transition: opacity $transition;

                &:hover {
                    opacity: .9;
                }
            }
        }
    }
}

//========================  sign in page ========================//

.signWithGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: rgb(240, 240, 240);
    border-radius: 50px;
    font-size: 1rem;
    padding: .6rem 1.8rem;

    img {
        width: 1.8rem;
    }
}

#or {
    display: flex;
    align-items: center;
    gap: 3rem;

    .line {
        width: 100%;
        height: 1px;
        background: rgb(211, 211, 211);
    }
}

.rememberMe {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 1rem 0;
}

.dont_have_acc,
.policy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;

    a {
        font-family: ABold;
    }
}

//=== Toggle Btn
.checkbox-wrapper-7 {
    .tgl {
        display: none;

        &,
        &:after,
        &:before,
        & *,
        & *:after,
        & *:before,
        &+.tgl-btn {
            box-sizing: border-box;

            &::-moz-selection,
            &::selection {
                background: none;
            }
        }

        &+.tgl-btn {
            outline: 0;
            display: block;
            width: 3.5em;
            height: 1.7em;
            position: relative;
            cursor: pointer;
            user-select: none;
            transition: all $transition-time ease;

            &:after,
            &:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }

            &:after {
                left: 0;
            }

            &:before {
                display: none;
            }

            &:hover:after {
                will-change: padding;
            }

            &:active {
                box-shadow: inset 0 0 0 2em #e8eae9;

                &:after {
                    padding-right: 0.8em;
                }
            }
        }

        &:checked+.tgl-btn:after {
            left: 50%;
        }

        &.tgl-ios {
            &+.tgl-btn {
                background: #fbfbfb;
                border-radius: 2em;
                padding: 3px;
                border: 1px solid #e8eae9;

                &:after {
                    border-radius: 2em;
                    background: #fbfbfb;
                    transition: left $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275), padding $transition-time ease, margin $transition-time ease;
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
                }

                &:hover:after {
                    will-change: padding;
                }

                &:active {
                    box-shadow: inset 0 0 0 2em #e8eae9;
                }

                &:active:after {
                    margin-left: -0.8em;
                }
            }

            &:checked+.tgl-btn {
                background: $black;

                &:active {
                    box-shadow: none;
                }
            }
        }
    }
}

//========================  sign up ========================//
.policy {
    margin: 1rem 0;
}

//======================== Breakpoints ========================//
@media (max-width: 1100px) {
    .form_cnt {
        gap: 4rem;
        flex-direction: column;
        padding-bottom: 4rem;

        .sideImg {
            width: 100%;
            max-height: 600px;
        }

        .container {
            width: 100%;
            text-align: center;
        }
    }

    .SignUpform {
        flex-direction: column-reverse;
    }
}

@media (max-width: 670px) {
    .form_cnt {
        gap: 3rem;
        padding-bottom: 3rem;

        .sideImg {
            width: 100%;
            max-height: 450px;
        }
    }
}